<div class="jumbotron">
  <h1 class="display-4">Welcome to MakersBnB</h1>
  <h2>
    <% if @user == nil %>
      Welcome
    <% else %>
      Welcome<%=", #{@user.username}" %>
    <% end %>
  </h2>
</div>

<form action="/spaces/new" method="get">
  <input type="submit" value="Add space" />
</form>

<h2>Available spaces:</h2>
<ul>
<% @spaces.each do |space| %>
  <% if space.booked != 't' %>
    Name: <%=space.name%><br>
    Description: <%=space.description%><br>
    Date available: <%=space.date_available%><br><br>
  <% end %>
<% end %>
