<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>
  <body>
    <div class="container">
      <h2>Welcome to MakersBnB</h2>
      <nav aria-label="breadcrumb">
         <%# <ol class="breadcrumb"> %>
           <li  class="breadcrumb-item"><a href="/users/new">Sign up</a></li>
         <%# </ol> %>
       </nav>
      <%= yield %>
    </div>
  </body>
</html>
