<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>
  <body>
    <div class="container">
      <h2>Welcome to MakersBnB</h2>
      <%= yield %>
    </div>
  </body>
</html>
