<h2>Add a new space</h2>

<div class="container">
<form action="/spaces" method="post">
  <label for="">Name:</label>
    <input align="middle" id="text"  type="name" name="name" /><br>
  <label for="">Description:</label>
    <input align="middle" id="text"  type="description" name="description" /><br>
  <label for="">Date available:</label>
    <input align="middle" id="text"  type="date_available" name="date_available" /><br>
  <label for="">Price:</label>
    <input align="middle" id="text"  type="price" name="price" /><br>
  <br>
  <input class="submit" type="submit" value="Submit" />
</form>
</div>
