 <h1>Sign in below</h1>

<form action="/sessions" method="post">
  E-mail: <input type="email" name="email" />
  Password: <input type="password" name="password" />
  <br>
  <input type="submit" value="Submit" />
</form>
