 <h2>Sign in below</h2>
<div class="container">
<form action="/sessions" method="post">
  <label for="">E-mail:</label><br>
  <input align="left" id="text" type="email" name="email" /> <br>
  <label for="">Password:</label><br>
  <input align="left" id="text" type="password" name="password" />
  <br>
  <input class="submit" type="submit" value="Submit" />
</form>
</div>
