<h2>Sign up below</h2>

<div class="container">
<form action="/users" method="post">
  <label for="">Name:</label><br>
  <input align="middle" id="text" type="name" name="name" /> <br>
  <label for="">Username:</label><br>
  <input align="middle" id="text" type="username" name="username" /><br>
  <label for="">E-mail:</label><br>
  <input align="middle" id="text" type="email" name="email" /><br>
  <label for="">Password:</label><br>
  <input align="middle" id="text" type="password" name="password" />
  <br>
  <input class="submit" type="submit" value="Submit" />
</form>
</div>
